# Cartella di build generata da CLion/CMake
cmake-build-debug/
cmake-build-release/

# File di configurazione IDE (CLion/IntelliJ)
.idea/

# Eseguibili compilati manualmente (da gcc da riga di comando)
*.out
a.out
.idea/
